//*.json
**/node_modules/

**/__pycache__/

#Python #
*.py[cod]
*$py.class

# Microsoft Edge Web Driver
**/edgedriver_win64/

# Python env
**/venv/
.venv
.python-version

# Environments
.env

# sqlite db
db.sqlite3

# static files
/staticfiles_build/
/staticfiles/