//*.json
**/node_modules/

**/__pycache__/

#Python #
*.py[cod]
*$py.class

# Microsoft Edge Web Driver
**/edgedriver_win64/

# python env
**/venv/
.python-version
.env

# sqlite db
db.sqlite3

# static files
/staticfiles_build/