{% extends "base.html" %}

{% block title %} &#8211; Password Reset Confirm{% endblock %}


{% block content %}
  <div class="container mt-5">
    <h3>Password Reset Confirm</h3>
    <div class="row mt-4 mx-auto justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 form-group mt-3 shadow">
        <form method="post" class="p-3 mx-auto">

          {{ form.as_p }}
          {% csrf_token %}
          {% if form.errors %}
            {{ form.errors }}
          {% endif %}
          <div class="d-flex justify-content-center my-4">
            <input class="btn btn-sm blg-btn-primary rounded-pill px-3"type="submit" name="reset-password" value="Reset password">
          </div>
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}
